name: DevOps Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Make scripts executable
        run: chmod +x build.sh app/app.sh

      - name: Build stage
        run: ./build.sh

      - name: Docker image build
        run: docker build -t devops-pipeline:ci .

