name: DevOps Pipeline

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Make scripts executable
        run: chmod +x project2/build.sh project2/app/app.sh

      - name: Build stage
        run: ./project2/build.sh

      - name: Docker image build
        run: docker build -t devops-pipeline:ci .
